
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(234,234,234,1);;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* BARRA DE NAVEGACION Y LOGO */

.logo{
width: 110px;
margin-left: 0.5%;
}

.submenu {
    text-decoration: none;
    color:rgb(3, 3, 109);
    letter-spacing: 1px;
    margin-right: 2%;
    font-family:'Lobster', cursive;
    font-size: 25px;
    border-radius: 10px;

    padding: 5px 10px 5px 10px;
}
.menu{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: -70px;
    margin-left: 150px;
}


/* header */

.contenido-texto{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top: 25%;
    left: 2%;
    color: rgb(3, 3, 109);
}

.img-1{
    opacity: 0.3;
    background-color: #cccccc;
    width: 100%;
    object-fit: cover;
    height: 400px;
    position: relative;
}

.contenido-texto p{
    font-size: 18px;
}


/* CONTENIDO GENERAL DE LA PAGINA */
main{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
}

.grid-item{
  padding: 5px;
  text-align: justify;
  font-size: 20px;
  white-space: break-word;
}

.grid-item, img{
  height: 90%;
  width: 90%;
  object-fit: contain;
}

.grid-item, .text{
  text-align:left;
  padding: 20px;
  text-align: justify;
}

.text h2{
  color:rgb(3, 3, 109) ;
}

button{
  background-color: rgb(3, 3, 109);
  font-size: 13px;
  color: white;
  border-radius: 4px;
  border: rgb(3, 3, 109);
  padding: 15px;
}

button:hover{
  background-color: #0037dd73;
}

/* ¿Por qué aprender con Learn Now? */

.container3, .container3-text{
  background-color:rgb(3, 3, 109);
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 35px;
  letter-spacing: 0.03em;
}

.grid-container2{
  background-color: rgb(3, 3, 109);
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 20px;
}

.grid-item2{
  padding: 20px;
  text-align: center;
  font-size: 20px;
  white-space: break-word;
}

.grid-container2, .text-2{
  text-align: center;
}

.grid-text{
  color:#fff;
  text-decoration: none;
  --clippy: polygon(20% 0%, 20% 0, 0 100%, 0% 100%);
}

.grid-text::after{
  content: "";
  display: block;
  background-color: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path .3s;
}

.grid-text:hover{
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 98%);
}

.icon-grid{
  width: 150px;
  height: 50px;
}


.text-card{
  text-align: center;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.s;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/* CURSOS */

.container-cards{
  text-align: center;
  padding-top: 1%;
  padding-bottom: 7%;
}


.text-card p{
  text-align: center;
  color:#dc3545 ;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 100;
  letter-spacing: 0.03em;
  
}

.text-card h2{
  font-size: 35px;
  color:rgb(3, 3, 109) ;
  
}

.container{
  width: 100%;
  max-width:1000px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container .card{
  width: 330px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgb(0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.container .card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgb(0, 0, 0.2)
}

.container .card img{
  width: 330px;
  height: 220px;
}

.container .card h3{
  font-weight: 600;
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 10px;
}

.container .card button{
  margin-top: 5%;
  margin-bottom: 5%;
}



/* INCRIPCIONES (FORMULARIOS) */
.elegi{
  color:rgb(3, 3, 109) ;
}

/* boton enviar */
.col-12 button{
    margin-top: 15px;
}


/* FORMULARIO DE CONTACTO */

/* CONTACTO */
.contacto h2, h3, h4{
  color:  rgb(3, 3, 109);
}

.estilo-form{
    width: 700px;
    height: 800px;
    font-size: 15px;
    margin-right: 100px;
}

.contacto{
    margin-top: -450px;
    margin-left: 650px;
    font-size: 15px;
}


/* footer - MEJORAR!*/



footer{
  text-align: center;
  background-color: rgb(3, 3, 109);
  font-size: 30px;
  margin-top: auto;
  font-family: 'Times New Roman', Times, serif;
  padding: 30px;
}

footer a{
  color: #cccccc;
}




